.repository_show_more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div {
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}