.card {
    margin-top: 24px;
    padding: 24px;
    border-radius: 4px;
    background-color: #353c43;
    max-width: 680px;
    min-width: 680px;
    min-height: 100px;

    &:hover {
        box-shadow: 0px 2px 4px rgba(5, 15, 38, 0.16);
    }
}