.card {
    margin-top: 24px;
    padding: 12px;
    border-radius: 4px;
    background-color: #353c43;
    max-width: 1128px;
    min-width: 400px;
    min-height: 176px;

    &:hover {
        box-shadow: 0px 2px 4px rgba(5, 15, 38, 0.16);
    }
}