nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #353c43;
    border-bottom: 1px solid #85898e;
    height: 60px;
    margin-bottom: 24px;

    font-weight: bold;
    font-size: 18px;

    img {
        height: 40px;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        margin-left: 12px;
    }
}