nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #353c43;
    border-bottom: 1px solid #85898e;
    height: 50px;
    margin-bottom: 24px;
}