.issue_filters {

    button {
        background-color: inherit;
        border: none;
        border-bottom: 1px solid;
        color: #ffffff;
    }

    .button_active {
        font-weight: bold;
        background-color: #85898e;
    }
}